* {
  box-sizing: border-box;
}

body {
  background-color: #060537;
  color: #ffffff;
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}
.form1 {
  border: 2px solid white;
  margin: 80px;
  padding: 10px;
}
/*Medias responsivas 1-2-3 columnas*/
@media only screen and (max-width: 500px) {
  /*Form de datos responsivo*/
  .text-inst {
    text-align: center;
    color: aquamarine;
    font-size: small;
    width: 100%;
  }
  .inst {
    /*Imagen de las instrucciones*/
    width: 100%;
  }
  .linea1-form {
    float: center;
  }
  .linea2-form {
    float: center;
    color: red;
  }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
  /*Form de datos responsivo*/
  .text-inst {
    text-align: center;
    color: aquamarine;
    width: 100%;
    font-size: 25px;
  }
  .inst {
    /*Imagen de las instrucciones*/
    display: block;
    margin: auto;
    width: 60%;
  }
  .linea1-form {
    float: center;
  }
  .linea2-form {
    float: center;
    color: red;
  }
}
@media only screen and (min-width: 901px) {
  /*Form de datos responsivo*/
  .text-inst {
    text-align: center;
    color: aquamarine;
    width: 100%;
    font-size: large;
  }
  .inst {
    /*Imagen de las instrucciones*/
    display: block;
    margin: auto;
    position: static;
    top: 100px;
    width: 40%;
  }

  .linea1-form {
    float: left;
  }
  .linea2-form {
    float: right;
  }
}
