* {
  box-sizing: border-box;
}

body {
  background-color: #060537;
  color: #ffffff;
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}
.form1 {
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
}
#cy {
  border: 2px solid rgb(28, 134, 233);
  margin: 80px;
  padding: 10px;
  background-color: #ffffff;
  float: right;
}
#editor {
  border: 2px solid white;
  margin: 10px;
  padding: 5px;
}
/*Medias responsivas 1-2-3 columnas*/
@media only screen and (max-width: 500px) {
  /*Form de datos responsivo*/
  .text-inst {
    text-align: center;
    color: aquamarine;
    font-size: medium;
    width: 100%;
  }

  .linea1-form {
    float: center;
  }
  .linea2-form {
    float: center;
    color: rgb(0, 255, 76);
  }
  #cy {
    /*original*/
    height: 60%;
    width: 96%;
    position: absolute;
    margin: 10px;
    padding: 5px;
    top: 2050px;
  }
  #editor {
    position: absolute;
    top: 1700px;
    height: 50%;
    width: 96%;
    margin: 10px;
    padding: 5px;
  }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
  /*Form de datos responsivo*/
  .text-inst {
    text-align: center;
    color: aquamarine;
    width: 100%;
    font-size: medium;
  }

  .linea1-form {
    float: center;
  }
  .linea2-form {
    float: center;
    color: red;
  }
  #cy {
    /*original*/
    height: 60%;
    width: 97%;
    position: absolute;
    margin: 10px;
    padding: 5px;
    top: 2000px;
  }
  #editor {
    position: absolute;
    top: 1700px;
    height: 44%;
    width: 98%;
    margin: 10px;
    padding: 5px;
  }
}
@media only screen and (min-width: 901px) {
  /*Form de datos responsivo*/
  .text-inst {
    text-align: center;
    color: aquamarine;
    width: 100%;
    font-size: large;
  }

  .linea1-form {
    float: left;
  }
  .linea2-form {
    float: right;
  }
  .form1 {
    float: left;
  }
  #cy {
    /*original*/
    height: 35%;
    width: 50%;
    position: absolute;
    left: 36%;
    top: 100px;
  }
  #editor {
    position: absolute;
    top: 500px;
    height: 44%;
    width: 45%;
    left: 45%;
  }
}
